NODE_ENV=development
PORT=3001
DATABASE_URL=postgresql://postgres:password@localhost:5432/financialos
JWT_SECRET=change-this-to-a-random-32-char-string-in-prod
GROQ_API_KEY=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
CORS_ORIGIN=http://localhost:5173
REDIS_URL=redis://localhost:6379
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your@gmail.com
SMTP_PASS=your-app-password
EMAIL_FROM="Financial OS <no-reply@financialos.in>"
APP_URL=http://localhost:5173
RAZORPAY_KEY_ID=rzp_test_your_key
RAZORPAY_KEY_SECRET=your_razorpay_secret
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret
RAZORPAY_PLAN_ID=plan_your_premium_plan_id
VAPID_PUBLIC_KEY=BFsgza9qV64ohUxoUcxAIn0qTM66kx4Be9EgCZnwaxfumV-L5ZBIXAijZunn8sP4DjS9RFyaoxK1GVAsIv77BnA
VAPID_PRIVATE_KEY=KFJYTtNthRoszjwtBDNUJpaLkphp4otvILTJ6vv-bfg
VAPID_SUBJECT=mailto:admin@financialos.in
SETU_CLIENT_ID=your_setu_client_id
SETU_CLIENT_SECRET=your_setu_client_secret
SETU_BASE_URL=https://fiu-sandbox.setu.co
SETU_REDIRECT_URL=http://localhost:5173/bank/callback
LOG_LEVEL=info
